// ::-webkit-scrollbar {
//   width: 7px;
//   height: 7px;
// }

// ::-webkit-scrollbar-thumb {
//   background: $--color-primary;
// }

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: $color-text;
  font-size: $size-text;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div, section, main, nav, aside, dl, ul, ol {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-link;
}

.iconfont {
  font-size: $size-text;
}

.router-view_wrap {
  display: flex;
  flex-direction: column;
  padding: $spacing;
  overflow-y: auto;
}

.router-view_content {
  min-height: 100%;
  padding: $spacing;
  overflow-y: auto;
  background: $background-main;
}

.block-title {
  line-height: 42px;
  padding: 0px $spacing;
  border-bottom: 1px solid $border-secondary;
}
