::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: $--color-info;
  border-radius: 20px;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: $color-text;
  font-size: $size-text;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;
}

div, section, main, nav, aside, dl, ul, ol, table {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

dl, ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-link;
}

.iconfont {
  font-size: $size-text;
}

.router-view_wrap {
  height: 100%;
  padding: $spacing;
  overflow-y: auto;
  box-sizing: border-box
}

.router-view_content {
  min-height: 100%;
  background: $background-main;
}

.block-title {
  padding: $spacing;
  border-bottom: 1px solid $border-secondary;
}

.block-content {
  padding: $spacing;
}

.app-form {
  .el-input, .el-select {
    max-width: 250px;
  }

  .el-textarea {
    max-width: 400px;
  }
}

// /* 改变 icon 字体路径变量，必需 */
// $--font-path: 'element-plus/lib/theme-chalk/fonts';

// /* 引入 element-ui 主题 */
// @import "element-plus/packages/theme-chalk/src/index";
