// 导航栏高度
$nav-height: 100px;

// 侧边栏宽度
$aside-width: 280px;

// 全局背景
$background-global: #f5f7fa;

// 文本颜色
$color-text: #333;

// 正常文本
$size-text: 15px;
// 大号文本
$size-text-large: 16px;
$size-text-large-x: 17px;
$size-text-large-2x: 18px;
// 小号文本
$size-text-small: 14px;
$size-text-small-x: 13px;
$size-text-small-2x: 12px;

// 统一边距
$spacing: 15px;
$spacing-x: 20px;
